[build]
  base = "app-next"
  publish = "app-next/out"
  command = "npm run build"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "/app*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
